/* Background.css */

.background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #94e0ff, #ebeeef);
  display: flex;
  flex-grow: 1;
  z-index: -1;
  user-select: none; /* Disable text selection */
  pointer-events: none; /* Ignore mouse events */
}

.circle {
  position: absolute;
  border-radius: 100%;
  height: 0;
  filter: blur(240vw);
  opacity: 0.4;
}

.circle1 {
  background: linear-gradient(132deg, #94e0ff, #ebeeef 100.00%);
  width: 100%;
  padding-top: 30%;
  left: 20%;
  top: 20%;
  transform: translateX(-50%) translateY(-50%);
}

.circle2 {
  background: linear-gradient(132deg, #94e0ff, #ebeeef 100.00%);
  width: 100%;
  padding-top: 40%;
  left: 50%;
  top: 27%;
  transform: translateX(-50%) translateY(-50%);
}

.circle3 {
  background: linear-gradient(132deg, #94e0ff, #ebeeef 100.00%);
  width: 100%;
  padding-top: 30%;
  left: 80%;
  top: 80%;
  transform: translateX(-50%) translateY(-50%);
}
